{{#each this}}
  <h2>{{sequence_name}}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Session Name</th>
        <th>Card Name</th>
        <th>Tool Name</th>
        <th>Comments</th>
        <th>Duration</th>
        <th>Level</th>
        <th>Equipment</th>
        <th>Mode</th>
        <th>Group Work</th>
      </tr>
    </thead>
    <tbody>
      {{#each sessions}}
        <tr>
          <td>{{session_name}}</td>
          <td>{{card_name}}</td>
          <td>{{tool_name}}</td>
          <td>{{comments}}</td>
          <td>{{time}}</td>
          <td>{{level_name}}</td>
          <td>{{equipment}}</td>
          <td>{{#if is_face_to_face}}Distanciel{{else}}Présentiel{{/if}}</td>
          <td>{{#if is_group_work}}En groupe{{else}}Individuel{{/if}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}
